html {
  background: #e7e5f1;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ball {
  position: relative;
  height: 15rem;
  width: 15rem;
  background: #57bc35;
  border-radius: 50%;
  box-shadow: inset 2px -1px 10px 2px #a3d299,
    inset 0.5rem -0.5rem 6px 1rem #64bf44,
    inset 0 -3rem 7px 0 rgba(85, 186, 52, 0.8),
    inset 0 -2.6rem 2px 1.8rem #64bf44, inset 0 -1.5rem 2px 1.8rem #64c248,
    0 3rem 2rem -2rem #6d9b6c, 0 3rem 3rem 0rem #a0bda1;
}

.ball::before {
  content: "";
  position: absolute;
  background: #86d96c;
  height: 3.3rem;
  width: 3.7rem;
  top: 20%;
  left: 40%;
  border-radius: 50%;
}

.ball::after {
  content: "";
  position: absolute;
  background: #86d96c;
  height: 2rem;
  width: 1.5rem;
  top: 30%;
  left: 70%;
  border-radius: 50%;
  transform: rotate(-30deg);
}
